.About{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about1{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutimg{
    width: 50%;
    height: 100%;
    display: flex;
}
.aboutimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aboutcontent{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
.aboutcontent h1{
    font-size: 40px;
    color: red;
    text-align: center;
}
.aboutcontent p{
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0px;
    text-align: start;
}